*~
*.so
*.so.*
*.a
*.o
*.lo
*.exe
*.swp
SNDB4/tmp_*
examples/bhelp/bhelp
examples/clipboard/clipboard
examples/demo/demo
examples/desklogo/dyntext
examples/dlgdraw/dlgdraw
examples/dlgdsn/SNDB4/tmp_*
examples/dlgdsn/dlgdsn
examples/dyntxt/dyntext
examples/helpdemo/helpdemo
examples/i18n/i18n
examples/inplis/inplist
examples/listbox/listbox
examples/listbox1/listbox1
examples/listbox2/listbox2
examples/listbox3/listbox3
examples/listbox4/listbox4
examples/listbox5/listbox5
examples/listbox6/listbox6
examples/listbox7/listbox7
examples/listvi/listvi
examples/menunest/menunest
examples/menuz/menuz
examples/mess1/mess1
examples/msgcls/msgcls
examples/password/password
examples/progba/progba
examples/sdlg/sdlg
examples/sdlg2/sdlg2
examples/tcombo/tcombo
examples/terminal/terminal
examples/testhelp/testhelp
examples/tprogb/tprogb
examples/tvedit/tvedit
examples/tvhc/tvhc
examples/videomode/videomode
examples/viewers/viewers
